.homepage {
	position: relative;
	width: 100%;
	height: 100vh;
}

.background {
	position: absolute;
	top: 0;
	right: 0;
	width: 42%;
	height: 100%;
	background-color: #87CEEB;
	overflow: hidden;
}

.background-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}


.content {
	position: absolute;
	top: 45%;
	left: 5%;
	width: 50%;
	transform: translateY(-50%);
	color: #001F3F;
	text-align: left;
	z-index: 1;
}


.sub-heading {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.main-heading {
	font-size: 4rem;
	margin-bottom: 1rem;
}

.additional-text {
	font-size: 1.8rem;
	line-height: 1.8;
	margin-top: 0;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	top: 75%;
}

.card {
	flex: 0 0 calc(30% - 20px);
	max-width: 300px;
	height: 30vh;
	margin: 10px;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: transform 0.3s ease;
}

.card-image {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}


.card h3 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #333;
}

.card p {
	font-size: 16px;
	line-height: 1.5;
	color: #666;
}