.login-container {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 500px;
	margin: 150px auto;
	text-align: center;
}

.login-container h1 {
	margin-bottom: 20px;
	font-size: 2rem;
	color: #333;
}

.login-container .heading {
	font-size:2rem;
	color: #001F3F;
}

.login-container .sub-heading {
	font-size: 1.2rem;
	color: #333;
	font-style: italic;
}

.login-container .form-group {
	margin-bottom: 20px;
}

.login-container .form-control {
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	background-color: transparent;
}

.btn-login {
	background-color: #5bc0de;
	color: #fff;
	border: none;
	border-radius: 25px;
	padding: 12px 50px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.3s ease;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	display: block;
}

.btn-login:hover {
	background-color: #31b0d5;
	transform: translateY(-2px);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-login:active {
	transform: translateY(0);
	box-shadow: none;
}
.social-buttons {
	margin-top: 20px;
}

.social-button {
	display: inline-flex;
	align-items: center;
	padding: 10px 20px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	color: #333;
	cursor: pointer;
	transition: all 0.3s ease;
}

.social-button:hover {
	background-color: #f0f0f0;
}

.social-button:first-child {
	margin-right: 10px;
}

.text {
	text-align: left;
	margin-top: 15px;
}

.success-message {
	position: absolute;
	top: 0%;
	left: 0%;
	transform: translateX(-50%);
	width: 300px;
	padding: 10px;
	background-color: #001F3F;
	color: white;
	text-align: center;
	z-index: 9999;
	animation: slideInDown 0.5s ease-in-out forwards, fadeOut 3s ease-in-out forwards;
}

@keyframes slideInDown {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.error-message {
	background-color: #ffcccc;
	color: #cc0000;
	font-size: 14px;
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
	text-align: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}